@import '/src/common/modern-reset.css';
@import '/src/common/login-theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';

/* 텍스트 링크 */
/* 지역변수 패턴, 강사님이 사용하는 방법 */

.text-link{
    --active-color: var(--blue-100);

    display: inline-flex;
    font-size: var(--font-md);

    &:hover{
        background: var(--active-color);
    }

    &:focus{
        /* border는 상자크기에 영향을 주는데 outline과 box-shadow는 박스 크기에 영향을 주지 않는다. */
        outline: 0;
        /* box-shadow: x y blur spred */
        box-shadow: 0 0 0 1px var(--blue-900);
        border-radius: var(--rounded-xs);
    }
}
