@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';

.wrapper {
  display: inline-grid;
  margin: 20px;

  svg,select{
    grid-area: 1/1/2/2;
  }

  /* svg가 클릭되지 않고 밑에 있는 셀렉트가 선택된다. */
  svg{
    pointer-events: none;
  }

  .global{
    place-self: center start;
  }

  .triangle{
    place-self: center end;
  }



  select {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;

    &:focus {
      border: 4px solid green;
    }
  }
}
